<!DOCTYPE html>
<html>
  <head>
    <title>Confirmación de correo electrónico</title>
    <style>
    </style>
  </head>
  <body>
    <p>Para confirmar tu correo electrónico, por favor haz clic en el siguiente enlace:</p>
    <a href="<%= confirmationUrl %>">Confirmar correo</a>
  </body>
</html>
