<!DOCTYPE html>
<html>
  <head>
    <title>Recuperaci칩n de contrase침a</title>
  </head>
  <body>
    <p>Para restablecer tu contrase침a, por favor haz clic en el siguiente enlace:</p>
    <a href="<%= resetLink %>">Restablecer contrase침a</a> 
  </body>
</html>
